body{
    font-size: 12px;
}

#logo-login{
    height: 200px;
}

#login-container{
    position: relative;
    border: solid 3px #BDBDBD;
    border-radius : 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;

}

/* label color */
#loginForm .input-field label {
    color: #020661;
}

/* label underline focus color */
#loginForm .input-field input[type=text]:focus, #loginForm .input-field input[type=password]:focus {
    border-bottom: 1px solid #BDBDBD;
    box-shadow: 0 1px 0 0 #000000;
}

/* label focus color */
#loginForm .input-field input[type=text]:focus + label,#loginForm .input-field input[type=password]:focus + label{
    color: #020662;
}

#loginForm button{
    background: #020662;
    width: 100%;
}

.error{
    background: #B40404;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

#logo-navbar{
    height: 5.833em;
}
#workspace-container{
    margin: 0;
}
#workspace-container div.col{
    padding: 0 20px 0 20px;
}

#main-container{
    margin: 0;
}
#topmenu-container{
    margin: 0;
    padding: 0;
    background: #FFF;
}

#module_list{
    padding: 0;
}


#module_list ul{
    margin: 0px;
    padding: 0px;
}

#module_list ul li{
    padding: 4% 2% 2% 2%;
    float: left;
    height: 5.833em;
}

#topmenu-container ul li a{
    font-size: 13px;
    color: #E1F5FE;
}

/*Navbar container*/
#navbar_profile-container{
    padding-top: 1%;
}

#footer-container{
    position: relative; width: 100%; bottom: 0; margin: 0; margin-top: 20px;
}

#footer p{
    font-size: 10px;
}

/* Dropdown menus */
.dropdown-content li > a, .dropdown-content li > span{
    color: #03a9f4;
}

.dropdown-content li{
    font-size: 1em;
}

h3{
    color: #05086E;
    font-weight: 300;
}

/*Table styles*/
table{
    width: aut0;
    overflow-x: scroll;
//display: block;
}

table thead{
    color: #05086E;
}

th.header {
    background-image: url(/img/table/bg.gif);
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center right;
    /*padding-left: 20px;*/
    margin-left: -1px;
}

th.headerSortUp {
    background-image: url(/img/table/asc.gif);
}

th.headerSortDown {
    background-image: url(/img/table/desc.gif);
}

td.telefono{
    padding-left: 0px !important;
}

/*table.striped td:not(:last-child){
    padding-left: 20px;
}*/

table.striped tr{
    line-height: 5px;
}

table.striped td a i.mdi-action-delete{
    color: #b71c1c;
}



table.striped td a i.mdi-image-remove-red-eye{
    color: #1b5e20;
}

table.striped td a i.mdi-action-assignment{
    color: #039be5;
}

table.striped tbody tr:nth-child(2n+1){
    background: #e1f5fe;
}

#table-header{
    margin-bottom: 0;

}

#table-header div.row{
    margin-bottom: 0;
}

#search-container{

    float: right;
}

#search-container label{
    font-size: 12px;

}

#search-container input[type="text"]:focus{
    border-bottom: 1px solid #E1F5FE;
    box-shadow: 0 1px 0 0 #00086E;
}

#search-container i{
    color: #5CC7F7;
}

#search-container i.active{
    color: #00086E;
}

#search-container label.active{
    color: #00086E;
}


#new-container{
    position: absolute;
    bottom: 15px;
}

/*Modal styles*/
.modal h4 {
    color: #00086E;
    font-weight: 100;
}

.modal h6 {
    color: #00086E;
    font-weight: 100;
}

.label-container{
    padding: 5px 0 5px 0;
}
.label-container label, .label-container p{
    display: inline-block;
}

.label-container label{
    color: #00086E;
    font-weight: 400;
}

.label-container p{
    margin: 0;
    padding-left: 5px;
    color: #9e9e9e;
}

.modal-content{
    padding-bottom: 0 !important;
}

.modal-footer a.eliminar{
    background: #b71c1c
}

.modal-footer a.cerrar{
    background: #424242;
}

.modal-footer a.editar{
    background: #039be5;
}

.modal-footer a{
    margin-left: 10px !important;
}

/* Forms */

form.hva-form i.cerrar{
    color: #b71c1c;
    font-size:24px;
}

form.hva-form .input-field label {
    font-size: 12px;
    top: 1.5rem;
}

form.hva-form input{
    margin-bottom: 0 !important;
}

form.hva-form input.select-dropdown{
    margin-top: 30px !important;
}

p.input-error {
    margin: 0;
    margin-left: 11px;
    color: #d32f2f;
    width: 200%;
    display: inline-block;
    display: none;
}

form.hva-form input[type="text"]{
    margin: 15px 0 15px 0;
}

form.hva-form .input-field input[type="text"]:focus, form.hva-form .input-field input[type="password"]:focus, form.hva-form .input-field input[type="email"]:focus, form.hva-form .input-field input[type="url"]:focus, form.hva-form .input-field input[type="date"]:focus, form.hva-form .input-field input[type="tel"]:focus, form.hva-form .input-field input[type="number"]:focus, form.hva-form .input-field input[type="search"]:focus, form.hva-form .input-field textarea.materialize-textarea:focus{
    border-bottom: 1px solid #039be5;
    box-shadow: 0 1px 0 0 #000;
}


form.hva-form .input-field input[type="text"]:focus + label, form.hva-form .input-field input[type="password"]:focus + label, form.hva-form .input-field input[type="email"]:focus + label, form.hva-form .input-field input[type="url"]:focus + label, form.hva-form .input-field input[type="date"]:focus + label, form.hva-form .input-field input[type="tel"]:focus + label, form.hva-form .input-field input[type="number"]:focus + label, form.hva-form .input-field input[type="search"]:focus + label, form.hva-form .input-field textarea.materialize-textarea:focus + label{
    color: #039be5;
}

form.hva-form fieldset{

    border: solid 1px #90a4ae;
}

form.hva-form legend{
    color: #039be5;
}


/* Delete Modal Styles*/
#delete-modal-container{
    padding: 0;
}

#delete-modal-container {
    padding: 0;
}

#delete-modal-header-container {
    background: #b71c1c;
}

#delete-modal-container p{
    font-weight: bolder;
    font-size: 12px;
}

#delete-modal-header-container h4{
    color: white;
    font-weight: bold;
    display: inline-block;

}

/*Agegar arituclo styles*/
div[id|=propiedad]{
    position: relative;
}

div[id|=propiedad] i.mdi-navigation-cancel{
    position: absolute;
    left: 0;
    color: #b71c1c;
    font-size: 1.5rem;
}

fieldset[id|=caducidades] i.mdi-navigation-cancel{
    position: absolute;
    top: 25px;
    right: 12px;
    color: #b71c1c;
    font-size: 1.5rem;
}

div#property_values i.mdi-content-add-circle-outline{
    color: #1a237e;
    font-size: 1.5rem;
}

div#property_values i.mdi-action-delete{
    color: #b71c1c;
    font-size: 1.5rem;
}

.pointer {
    cursor: pointer;
}
.guardado-ajax{
    margin-top: 30px;
    width: 50%;
}

/*Tblas con imagenes*/
.td-image{
    text-align: center !important;
}

.td-image p {
    text-align: center !important;
}

/*Tblas con inputs*/

table.table-inputs td.td-image{
    padding-right: 20px;
    padding-left: 20px;
}

table.table-inputs input[type="text"]:focus{
    border-bottom: 1px solid #E1F5FE;
    box-shadow: 0 1px 0 0 #00086E;
}

table.table-inputs{

    table-layout:fixed;
}

table.table-inputs input{

    font-size: 12px !important;
}

table.table-inputs input.select-dropdown {
    margin-bottom: 30px !important;
}

table.table-inputs th.number{
    width: 90px;
}

table.table-inputs td.collapse{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.table-inputs td i.mdi-navigation-arrow-drop-down{
    top: 20px;
}

/* Preview Registo de productos */

.preview-articulos-registro h4{
    margin: 0;
}

/*Taba Reorden*/
table td.list{
    list-style: none;
    line-height: 35px;
    padding-top: 21px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

table th.checkbox{
    text-align: center;
}

table td.checkbox p{
    text-align: center;
}

table td.list-inputs li{
    list-style: none;
}

table td.list-inputs input{
    text-align: center;
    margin: 0;
    height: 35px;
}

/*Inputs inside Modals*/
div.modal-content div.input-field label{
    font-size: 12px;
    top: 1.5rem;
}

div.modal-content div.input-field input[type=text]{
    font-size: 12px;
    text-align: center
}

div.modal-content div.input-field.number{
    width: 100px;
}
.pointer {
    cursor: pointer;
}
.guardado-ajax{
    margin-top: 30px;
    width: 100%;
}
.error-modal-ajax{
    margin-top: 30px;
    width: 40%;
}
.guardado-modal-ajax{
    margin-top: 30px;
    width: 60%;
    float: right;
}