<div style="position: relative" class="row" style="margin: 0">
        <div class="col s4">
            <div class="input-field number">
                <label for="cantidad">Cantidad</label>
                <input class="existenacias_cantidad" id="cantidad" type="text">
                <p class="input-error"> <i class="tiny mdi-alert-error"></i>Este campo no puede ir vacio</p>
            </div>
        </div>
        <div class="col s4">
            <div class="input-field">
                <label for="fecha">Fecha</label>
                <input id="caducidad" class="datepicker" type="text">    
            </div>
        </div>
        <a style="float: right" href="javascript:void(0)"><i class="small mdi-navigation-cancel"></i></a>
</div>