<div class="row"">
    <div class="col s4">
        <div class="input-field" id="property_name">
            <label for="propiedad_nombre">Nombre</label>
            <input type="text">
        </div>
    </div>
    <div class="col s4 offset-s4">
        <div class="input-field" id="property_values">
            <label for="propiedad">Valor</label>
            <input type="text">
            <a href="javascript:void(0)"><i style="bottom: 0;"class="tiny mdi-content-add-circle-outline prefix"></i></a>
            <p style="display: none"class=input-error>Por favor ingrese un valor</p>
        </div>
    </div>
</div>